[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coveralls = "*"

[packages]
twine = "*"
"boto3" = "*"

[requires]
python_version = "2.7"
