[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coveralls = "*"
moto = "*"
mock = "*"

[packages]
twine = "*"
"boto3" = "*"
future = "*"

[requires]
python_version = ">2.6"
